<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>570899179653-6rch7fqshm6tekrv7v597csgcq5lrnmh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.570899179653-6rch7fqshm6tekrv7v597csgcq5lrnmh</string>
	<key>API_KEY</key>
	<string>AIzaSyAhFP5eahseKLM_3f2uRR7quV5LO09fSws</string>
	<key>GCM_SENDER_ID</key>
	<string>570899179653</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ham.Picnic</string>
	<key>PROJECT_ID</key>
	<string>picnic-b02aa</string>
	<key>STORAGE_BUCKET</key>
	<string>picnic-b02aa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:570899179653:ios:c128c00cab96de796c61ec</string>
</dict>
</plist>